@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efc0e1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
}

img {
  max-width: 90%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 220px;
}

.card-header img {
  object-fit: cover;
  height: 95%;
  width: 100%;
}

.card-content {
  background-color: #eee;
  padding: 35px;
}

.card-title {
  height: 25px;
  margin: 0;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  width: 95px;
}

.author-info small {
  color: #aaa;
  margin-top: 10px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 25%,
    #f6f7f8 90%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 25px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 55% 0;
  }

  100% {
    background-position: -145% 0;
  }
}  